* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-weight: 500;
}

body {
  min-width: 400px;
}

main {
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background: linear-gradient(rgba(85, 83, 83, 0.79), rgba(9, 220, 13, 0.166)),
    url("./img/mountain.jpg") center/cover no-repeat;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(2px);
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav ul li {
  color: white;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.logo {
  font-size: 2rem;
  color: white;
}

.action-btn {
  all: unset;
  padding: 1rem 2rem;
  background-color: white;
  cursor: pointer;
}

.heading {
  position: absolute;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.heading h1 {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  width: 40rem;
}

.heading-btn {
  margin-top: 1rem;
  width: 140px;
  text-align: center;
}

.mission {
  display: flex;
  justify-content: space-between;
  padding: 5rem 15rem;
  background-color: rgb(252, 241, 229);
  gap: 10rem;
}

.mission h3 {
  font-size: 2rem;
  width: auto;
  font-weight: 500;
}

.mission h4 {
  font-size: 2rem;
  font-weight: 200;
  width: auto;
}

.about {
  padding: 5rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
}

.about div img {
  width: 100%;
}

.about div h2 {
  font-size: 2.72rem;
  font-weight: 500;
}

.about div p {
  line-height: 1.6;
  font-size: 1.3rem;
  font-weight: 200;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  order: 1;
}

.blue-btn {
  width: 160px;
  padding: 1rem;
  background-color: #243551;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}

.about-image {
  order: 2;
}

.about-content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  order: 2;
}

.about-image2 {
  order: 1;
}

.accomplishments {
  background: linear-gradient(rgba(0, 0, 0, 0.837), rgba(255, 255, 255, 0.073)),
    url("./img/trees.jpg") center/cover no-repeat;
  padding: 5rem 15rem;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.accomplishments h3 {
  font-size: 2.3rem;
  width: 50rem;
}

.accomplishments h4 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 200;
}

.contacts {
  padding: 5rem 5rem; /* Reduced from 15rem to 5rem */
  display: grid;
  gap: 6rem;
  grid-template-columns: 1fr 1fr;
}

.contacts-title {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 500;
  width: 30rem;
}

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sign-up p {
  font-weight: 300;
  line-height: 1.5;
  width: 28rem;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sign-up-form input {
  border: 1px solid rgb(208, 208, 208);
  padding: 1.5rem 2rem;
  width: 25rem;
}

.form-btn {
  width: 100px;
}

footer {
  background-color: #2a282a;
  padding: 3rem 5rem;
  color: white;
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  height: 15rem;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

footer div ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style: none;
}

footer li,
a {
  font-weight: 200;
}

footer a {
  color: white;
}

.footer-address {
  order: 1;
}

.footer-links {
  order: 2;
}

.footer-social {
  order: 3;
}

.page-wrapper {
  position: relative;
}

.squarespace {
  width: 15rem;
  height: 5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: black;
  padding: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.squarespace img {
  width: 60%;
}

.square-img {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  margin-left: 0.9rem;
}

.squarespace h1,
.squarespace p {
  color: white;
}

.squarespace h1 {
  font-size: 0.7rem;
}

.squarespace p {
  font-size: 0.5rem;
  color: gray;
}

.burger-btn {
  all: unset;
  display: none;
  width: 2rem;
  height: 2rem;
}

.burger-btn img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .nav-ul,
  .nav-icons,
  #action {
    display: none;
  }
  .burger-btn {
    display: inline-block;
  }

  footer {
    padding: 5rem 5rem;
  }
  .contacts,
  .accomplishments,
  .about,
  .mission,
  .heading,
  header {
    padding: 5rem 2rem;
  }
  .mission {
    flex-direction: column;
    gap: 3rem;
    & h3,
    h4 {
      font-size: 1.5rem;
    }
    & h3 {
      font-weight: 500;
    }
    & h4 {
      font-weight: 100;
    }
  }
  .heading h1 {
    width: 30rem;
    font-size: 2.3rem;
    font-weight: 400;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .contacts-title {
    width: 100%;
  }
  .sign-up p {
    width: 100%;
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .about-content {
    gap: 2rem;
    order: 2;
  }
  .about-image {
    order: 1;
  }
  .about div h2 {
    font-size: 1.5rem;
  }
  .about div p {
    font-size: 1rem;
  }

  .accomplishments {
    height: 100%;
  }
  .accomplishments h3 {
    font-size: 2rem;
    font-weight: 400;
    width: auto;
  }
  footer {
    gap: 6rem;
    grid-template-columns: 1fr 1fr;
  }

  .footer-address {
    order: 3;
  }

  .footer-links {
    order: 1;
  }

  .footer-social {
    order: 2;
  }
}
